.info {
    margin: 0.5em 0;
    display: flex;

    .label {
        font-size: 1.1em;
        font-weight: bold;
        margin-right: 0.7em;
        display: flex;
        align-items: center;

        .icon {
            margin-right: 0.5em;
            font-size: 2em;
            color: var(--accent-color);
        }
    }

    .value {
        flex: 1;
        display: flex;
        align-items: center;
        word-break: break-word;
    }
}
