.section {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    box-shadow: 0 1.5em 2em -1em #999;

    .sectionTitle {
        padding: 1em;
        border-bottom: 1px solid #ddd;
    }

    .sectionContent {
        flex: 1;
        padding: 1em 2em;
        overflow-y: scroll;
    }
}
