.main {
    padding: 2em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .buttonContainer {
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
    }

    .detail {
        flex: 1;
        display: flex;
    }

    .detail > * {
        width: 100%;
    }
}
